## Kamal
KAMAL_REGISTRY_PASSWORD=$KAMAL_REGISTRY_PASSWORD

## Database Docker
POSTGRES_PASSWORD=$POSTGRES_PASSWORD

## Rails
RAILS_MASTER_KEY=$(cat config/credentials/production.key)
DATABASE_URL=postgres://user:password@10.0.0.2:5432/rubyrita_production
